<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Mi Página Web</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <header>
      <h1>{{message}}</h1>
    </header>

    <div class='content'>
      <aside class='sidebar'>
        <h2>XLSX</h2>
        <!-- Contenido del sidebar aquí -->
      </aside>

      <main class='main-content'>
        <h2>Cinemometros</h2>

        <form
          action='/nest-gui-repot/gui-cinemometros/upload'
          method='post'
          enctype='multipart/form-data'
        >
          <div class='form-group'>
            <label for='folder'>Seleccionar Carpeta:</label>
            <input
              type='file'
              name='files'
              webkitdirectory
              directory
              multiple
            />
          </div>

          <button type='submit'>Subir Archivos</button>
        </form>
        <!-- Contenido principal aquí -->
      </main>
    </div>

    <footer>
      <p>AGENCIA METROPOLITANA DE TRÁNSITO</p>
      <p>© 2024 AMT KR</p>
    </footer>
  </body>
</html>